@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{
    body{
        font-family: 'Roboto Slab', serif;
    }
    li{
        @apply px-4 cursor-pointer 
    }
}

.social-icon{
    @apply w-[160px] h-[60px] flex justify-between items-center ml-[-100px] hover:ml-[-10px] duration-300
}

.social-icon a{
    @apply flex justify-between items-center w-full text-gray-300
}

.content-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(112, 157, 255, 0.8),
        hsla(242, 74%, 61%, 0.8)   
    )!important;
}

body{

    max-width: 100%;
    overflow-x: hidden;

    
    @apply bg-[#161A30] text-[#B6BBC4] min-w-full

    
}

.screen-section{
    @apply max-w-[1000px] mx-auto px-8 flex flex-col justify-center h-full
}


.skill-card{

    img{
        @apply w-20 mx-auto
    }

    p{
       @apply my-4 
    }

    @apply p-4 hover:scale-110 duration-500
}


.badge-card{

    img{
        @apply w-40 mx-auto
    }

    p{
       @apply my-4 
    }

    @apply p-4 hover:scale-110 duration-500
}


.section-title{
    @apply text-4xl font-bold inline border-b-4 border-[#B6BBC4] text-[#F0ECE5]  
}

.education-timeline{

    li{

        span{
            @apply text-blue-800 dark:text-blue-300 absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full  ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900
        }

        h3{
           @apply mb-1 text-lg font-semibold text-gray-900 dark:text-white 
        }

        time{
            @apply block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500
        }

        p{
            @apply text-base font-normal text-gray-500 dark:text-gray-400
        }

        @apply mb-10 ms-6 mx-6
    }


    @apply relative  border-gray-200 dark:border-gray-700
}

.slick-slide >div{
    margin:10px 5px;
}